server:
    port: 8081
spring:
    application:
        name: config-service
    cloud:
        config:
            server:
                #configurando el repositorio de git
                git:
                    default-label: multiple-instances
                    uri: https://github.com/jcllt10/repositoriomean
                    search-paths: config-data